<div>
  <div class="controls-item--title">
    Top Countries
  </div>
  <div>
    <table class="controls-item--table">
      <thead>
        <th>Country</th>
        <th>#</th>
      </thead>
      <tbody>
        {{#each countries}}
        <tr>
          <td>{{countryName}}</td>
          <td>{{attacks}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>