
$color-primary         = #1a273f // blue
$color-primary-dark    = #0e151e
$color-primary-light   = #66a1c4
$color-primary-lighter = #dbf1ff

$color-black = #0b0b0b
$color-white = #ffffff

$color-grey       = #6C6C6C
$color-grey-light = #4A4A4A
$color-grey-dark  = #212121

///
// Fonts
$font-size             = 16px
////

// Base

$body-background-color     = linear-gradient(top, $color-primary, $color-primary-dark)

$controls-background-color = rgba($color-black, 0.6)
$controls-border-color     = $color-primary-light

$controls-item-font-color         = $color-white
$controls-item-title-border-color = $color-primary-light
$controls-item-title-color        = $color-primary-lighter
$controls-item-title-shadow-color = $color-primary-light
$controls-item-title-font         = 'Titillium Thin', sans-serif
$controls-item-table-font         = 'Titillium Thin', sans-serif

$controls-table-item-startcolor   = yellow
$controls-table-item-endcolor     = white
////////
// Views

// Map
$color-countries          = $color-black
$color-country-lines      = $color-primary-light
$color-point              = $color-primary-lighter

// Countries

// Ports

// Loglines
$loglines-font          = Consolas, monaco, monospace
$loglines-font-size     = 10px
$logline-odd-background = $color-primary-lighter
$logline-odd-color      = $color-primary-dark
